
#button{
	position: absolute;
	top: 98%;
	left: 98%;
	transform: translate(-100%,-100%);
	background-color: #555555; 
	border: none;
	color: #bbbbbb;
	cursor: pointer;
	font-size: 4px;
	padding: 2%;
}

.inner1
{
	background: #333333;
	width: 300px;
	height: 10px;

	/*position*/
	position: absolute;
	top: 34%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;	
}

.inner2
{
	background: #333333;
	width: 300px;
	height: 10px;

	/*position*/
	position: absolute;
	top: 66%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;	
}

.inner3
{
	background: #333333;
	width: 300px;
	height: 10px;

	/*position*/
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;	
}

.inner4
{
	background: #333333;
	width: 300px;
	height: 10px;

	/*position*/
	position: absolute;
	top: 44%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;	
}

#circle
{
	/*shape*/
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: white;

	/*position*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 0;	

}
#bigcircle
{
	/*shape*/
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background: #999999;

	/*position*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;	
}


#boxcircle
{
	width: 300px;
	height: 100px;
	overflow: hidden;
	/*position*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;	
}


.inner-a
{
	animation-name: animlines;
	animation-duration: 8s;
}

@keyframes animlines
{
	from{
		left: -50%;
	}
	to{
		left: 50%;
	}
}

.circles-a
{
	animation-name: animcircles;
	animation-duration: 5s;
}


@keyframes animcircles
{
	from
	{
		border-radius: 0%;
	}
	to{
		border-radius: 50%;
	}
}
