body
{
	margin: 0px;
	/*background: url('../img/backg.jpg');*/
	background-color: #222222;
	color: #9aa0a6;
}


.contenido
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	align-content: center;
}

	#lista
	{
		flex-direction: row;
	}

	.contenido
	{
		flex-direction: row;
	}

.box
{
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: 300px;
	margin: 20px;
	background-color: #333333;
}
#videop
{
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.video
{
	margin: 15px;
}

@media only screen and (max-width:  480px)
{
	#lista
	{
		flex-direction: row;
	}

	.contenido
	{
		flex-direction: row;
	}
}